<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form>
        <label for="restriction">Please choose restriction number: 1 - Sugar-Free, 2 - Gluten-Free, 3 - Dairy-Free</label><br>
        <input type="text" id="restriction" name="restriction"><br>
        <label for="favIngredients">Please Enter up to 2 favorite ingredients: (for example - egg, tomato)</label><br>
        <input type="text" id="favIngredients" name="favIngredients">
        <input type="submit">
    </form>
</body>
</html>