<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selelct</title>
</head>
<body>
    <form action="#" method="post">
        <p>Please choose restriction number: 1 - Sugar-Free, 2 - Gluten-Free, 3 - Dairy-Free</p>
        <p><input type="text" name="restriction" /><p>
        <p>Please Enter up to 2 favorite ingredients: (for example - egg, tomato)</p>
        <p><input type="text" name="favIngredients" /><p>
        <p><input type="submit" value="submit" /></p>
    </form>

</body>
</html>